.loader {
    position: absolute;
    top: 40%;
    left: 45%;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.floatTL {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
}

#loadScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #333;
}

img {
    padding: 0px;
    margin: 0px;
    display: block;
}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}

li.header {
    float: left;
}

li.header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.header a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#new_grid_btn {
    float: right;
}

table {
    padding: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #979696;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

form {
    border: 3px solid #f1f1f1;
}

#login {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
    display: inline;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 250px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: scroll;
}

#draw_area {
    background: no-repeat;
    background-size: 100%;
    background-position: center top;
}

input {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 5px;
    font-weight: normal;
}

.panel {
    position: fixed;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.right_panel {
    width: 250px;
    right: 20px;
}

#algorithm_panel {
    right: 20px;
    top: 20px;
}

.store_button {
    padding: 10px 10px;
}

.control_button {
    width: 28%;
}

.login_btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button {
    margin-top: 15px;
}

button {
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 90%;
    cursor: pointer;
    padding: 2px 8px;
    margin: 0 2%;
    width: 45%;
}

button:hover {
    background: rgba(109, 105, 105, 0.9);
    color: rgb(0, 0, 0);
}

#stats {
    position: fixed;
    bottom: 40px;
    left: 35px;
    color: #0a0;
    font-size: 85%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

a {
    color: #33f;
}

.white {
    color: #fff;
}

.green {
    color: #0d0;
}

.red {
    color: #ff9166;
}

idecontainer {
    width: 100%;
    /* Width of the outside container */
}

rect {
    fill-opacity: 0.3;
}